/* =========================
   4THREE DATA MANAGER STYLE
========================= */


*{

box-sizing:border-box;

}


body{

font-family:Arial, sans-serif;

background:
linear-gradient(
135deg,
#f5f7fa,
#c3cfe2
);

padding:20px;

animation:pageLoad 0.8s ease;

}



/* PAGE ANIMATION */

@keyframes pageLoad{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}



h1{

text-align:center;

font-size:40px;

color:#111;

animation:title 1s ease;


}


@keyframes title{

from{

transform:scale(.7);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}




/* FORM BOX */


.box{


background:white;

padding:25px;

border-radius:15px;

box-shadow:
0 10px 30px rgba(0,0,0,.15);

animation:slide 0.8s ease;


}



@keyframes slide{

from{

transform:translateX(-50px);

opacity:0;

}


to{

transform:translateX(0);

opacity:1;

}

}





h2{

font-size:28px;

}





input{


width:100%;

padding:16px;

margin:8px 0;

border-radius:10px;

border:1px solid #ccc;

font-size:18px;

transition:.3s;


}



input:focus{


border-color:#111;

transform:scale(1.02);

outline:none;


}






button{


background:#111;

color:white;

border:none;

padding:14px 25px;

border-radius:10px;

font-size:17px;

cursor:pointer;

transition:.3s;


}



button:hover{


transform:translateY(-4px);

background:#333;


}






/* TABLE LIKE EXCEL */


table{


width:100%;

margin-top:25px;

border-collapse:collapse;

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:
0 10px 25px rgba(0,0,0,.15);

animation:tableShow 1s ease;


}



@keyframes tableShow{


from{

opacity:0;

transform:scale(.9);

}


to{

opacity:1;

transform:scale(1);

}


}




th{


background:#111;

color:white;

padding:18px;

font-size:20px;


}



td{


padding:16px;

border-bottom:1px solid #ddd;

font-size:18px;

text-align:center;


}



tr{


transition:.3s;


}



tr:hover{


background:#eee;

transform:scale(1.01);


}





/* LOGIN */


.login-box{


width:350px;

margin:120px auto;

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 15px 40px rgba(0,0,0,.2);

animation:login .8s ease;


}



@keyframes login{


from{

opacity:0;

transform:rotateY(90deg);

}


to{

opacity:1;

transform:rotateY(0);

}


}







/* MOBILE */

@media(max-width:600px){



body{

padding:15px;

}



h1{

font-size:32px;

}



h2{

font-size:25px;

}



input{

font-size:20px;

padding:18px;

}



button{

font-size:18px;

padding:15px;

}




table{


display:block;

overflow-x:auto;


}



th{

font-size:18px;

padding:15px;

}



td{

font-size:18px;

padding:15px;

}


}